@import url(http://fonts.googleapis.com/css?family=Oswald);
@font-face {
    font-family: 'BebasRegular';
    src: url('/fonts/BEBAS___-webfont.eot');
    src: url('/fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BEBAS___-webfont.woff') format('woff'),
         url('/fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('/fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/fonts/BebasNeue-webfont.eot');
    src: url('/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-image: url('/images/bg.jpg');
	font-family: 'Open Sans', sans-serif;
}

p{
	font-family: 'Open Sans', sans-serif;
	margin: 10px 0 20px 0;
}

em {
	color: #790000;
}

h1{
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 3em;
	line-height: normal;
}

h2{
	background-color: #790000;
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	margin: 20px 0 0 0;
	padding: 2px 3px 4px 3px;
	text-transform: uppercase;
	width: 634px;
}

.owner{
	background-color: #333333;
}
.past{
	background-color: #999999;
}
#header{
	background-image: url('/images/topbar_r.png');
	background-repeat: repeat-x;
	height: 89px;
	width: 100%;
}
#container{
	width: 900px;
	margin: 0 auto;
}
#logo a{
	background:none;
	background-image: url('/images/topbar_logo.png');
	display: block;
	float: right;
	height: 29px;
	width: 127px;
}
#menu ul{
	clear: both;
}
#menu li a{
	background-image: url('/images/topbar_menu.jpg');
	background-position-x: -118px;
	display: inline-block;
	float: left;
	height: 36px;
	width: 118px;
}
#menu li a:hover{
	background-position-x: 0px;
	cursor: pointer;
}
#menu #dashboard{
	background-position-y: 0px;
}
#menu #missions{
	background-position-y: -36px;
}
#menu #menu_end{
	background-image: url('/images/topbar_menu.jpg');
	background-position-x: -118px;
	display: inline-block;
	float: left;
	height: 36px;
	width: 2px;
}
#content{
	background-image: url('/images/content_b.png'); 
	margin: 0 auto;
	min-height: 300px;
	overflow: auto;
	width: 920px;
}
#content_top{
	background-image: url('/images/content_top.png');
	width: 920px;
	height: 28px;
	margin: 0 auto;

}
#content_bottom{
	background-image: url('/images/content_bottom.png');
	width: 920px;
	height: 28px;
	margin: 0 auto;

}
#leftbar{
	float: left;
	margin: 0 0 0 20px;
	width: 160px;
}
#rightbar{
	float: left;
	margin: 0 0 0 45px;
	width: 640px;
}
#footer{
	text-align: center;
}
.missionslist li { 
	position:relative
}
.missionslist li a{
	background-color: #D8D4D1;
	background-image: url('/images/mission_bar_r.jpg');
	background-repeat: no-repeat;
	color: #111111;
	cursor: pointer;
	display: block;
	font-family: 'Open Sans', sans-serif;
	height: 40px;
	margin: 3px 0 0 0;
	padding: 6px 3px 2px 11px;
	position: relative;
	text-decoration: none;
}
.missionslist li a:hover{
	background-color: #E2DCD7;
	color: #000000;
}
.missionslist li .title{
	display: block;
	line-height: normal;

}
.missionslist li .description{
	color: #797775;
	display: block;
	line-height: normal;
	font-size: 0.8em;
}
.missionslist li a.done{
	background:none;
	background-image:url('/images/done_btn.png');
	top: 6px;
	border: 0;
	clear: none;
	display: inline;
	height: 35px;
	margin: 0;
	right: 10px;
	padding: 0;
	position: absolute;
	width: 57px;
	
}
.missionslist li .done:hover{
	background-position-x: -57px;
	cursor: pointer;
}

#mission_attempts li{
	background-color: #D8D4D1;
	background-image: url('/images/mission_bar_r.jpg');
	background-repeat: no-repeat;
	color: #111111;
	display: block;
	font-family: 'Open Sans', sans-serif;
	height: 25px;
	margin: 3px 0 0 0;
	padding: 6px 3px 2px 11px;
	position: relative;
	text-decoration: none;
}
.mission_approve{
	float: right;
	margin: 0 10px 0 0;
}
.user{
	font-weight: 700;
}

.message{
	top: -24px;
	background-color: #f6f4a7;
	border-color: #818059;
	border-style: solid;
	border-width: 1px 0 1px 0;
	padding: 5px;
	position: relative;
	text-align: center;
	z-index: -100;
}
.available{
	color: #5bde32;
}
.pending{
	color: #fffe00;
}
.completed{
	color: #aaab9a;
}
.heavy{
	font-weight: 700;
}
.mission_badge{
	background-image: url('/images/mission_bar_badges.jpg');
	height: 35px;
	float: right;
	margin: 0 3px 0 0;
	width: 35px;
}
.mission_owner{
	background-position-x: -35px;
}
.mission_high{
	background-position-x: 0;
}

/* LEFT BAR CSS */

#create_mission a{
	background: none;
	background-image: url('/images/sidebar_new_mission_btn.png');
	display: block;
	height: 35px;
	margin: 0 0 10px 5px;
	width: 150px;
}
#create_mission a:hover{
	background-position: 150px 0;
}
#anon{
	background-image: url('/images/sidebar_anon.png');
	height: 191px;
	margin: 0 0 0 6px;
	width: 150px;
}
#login a{
	background: none;
	background-image: url('/images/sidebar_lr.png');
	display: inline-block;
	float: left;
	height: 35px;
	margin: 10px 0 0 6px;
	width: 62px;
}
#register a{
	background: none;
	background-image: url('/images/sidebar_lr.png');
	background-position: -62px 0;
	float: left;
	display: inline-block;
	height: 35px;
	margin: 10px 0 0 0;
	width: 88px;
}
#login a:hover{
	background-position: -150px 0;
}
#register a:hover{
	background-position: -212px 0;
}